<div class="container bootstrap snipets">
  <h1 class="text-center text-muted">Products Catalog</h1>
  <div class="col-md-12 d-flex justify-content-center mt-2 mb-2">
    <button type="button" class="btn btn-dark" routerLink="discount" routerLinkActive="active">Show Discounted Products Only
    </button>
  </div>
  <div class="row flow-offset-1">
    <div *ngFor="let item, of pageOfItems" class="col-xs-6 col-md-4">
      <div class="product tumbnail thumbnail-3"><a [routerLink]="['product/', item.id]"><img class="rounded"
                                                                                             src="{{item.imageUrl}}"
                                                                                             alt=""></a>
        <div class="caption" *ngIf="item.salePrice">
          <h6><a href="#">{{item.name | uppercase}}</a></h6><span class="price">
             <del>{{item.price}} €</del></span><span
          class="price sale">{{item.salePrice}} €</span>
        </div>
        <div class="caption" *ngIf="!item.salePrice">
          <h6><a href="#">{{item.name | uppercase}}</a></h6><span class="price">
             {{item.price}} €</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-3">
      <jw-pagination [pageSize]="9" [items]="catalog" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>
</div>
