<div class="row spaced">
  <div class="col-md-4">
    <img alt="Technical Assistance" class="img-fluid rounded" src="assets/images/400x200.png">
    <h4>Technical Assistance</h4>
  </div>
  <div class="col-md-4">
    <img alt="Animal Shelter" class="img-fluid rounded" src="assets/images/400x200.png">
    <h4>Animal Shelter</h4>
  </div>
  <div class="col-md-4">
    <img alt="Garden Maintenance" class="img-fluid rounded" src="assets/images/400x200.png">
    <h4>Garden Maintenance</h4>
  </div>
</div>
