<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Section: Links  -->
  <section class="d-flex justify-content-center justify-content-lg-between p-0 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>{{title}}
          </h6>
          <p>
            Lorem ipsum dolor sit amet
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Pages
          </h6>
          <p>
            <a routerLink="/catalog" class="text-reset">Catalog</a>
          </p>
          <p>
            <a routerLink="/contact" class="text-reset">Contacts</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://valor-software.com/ngx-bootstrap/#/alerts" target="_blank" class="text-reset">NGX-Bootstrap</a>
          </p>
          <p>
            <a href="https://www.kanbanone.com" target="_blank" class="text-reset">Kanbanone</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> 011-1234567</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: Simone Gaido
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
