<carousel>
  <slide>
    <img class="img-fluid featured-image rounded" src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img class="img-fluid featured-image rounded" src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img class="img-fluid featured-image rounded" src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
