<form [formGroup]="contactForm">
  <div class="form-group">
    <label for="name">First Name*: </label>
    <input class="form-control" id="name" type="text" formControlName="name" placeholder="Enter your name">
    <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="message">Message*: </label>
    <textarea class="form-control" id="message" formControlName="message" placeholder="Enter your message"></textarea>
    <small id="messageHelp" class="form-text text-muted">Tip: If you want you can drag this text area from the bottom
      right to have more space for your message </small>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" formControlName="privacy" id="privacy">
    <label class="form-check-label" for="privacy">Privacy acceptance</label>
  </div>
  <button (click)="sendMessage(contactForm.value)" [disabled]="!contactForm.valid" type="submit"
          class="btn btn-primary">Send message
  </button>
  <alert *ngIf="inviato" type="success">
    <strong>Thanks for your message!</strong> We will reply to you as soon as possible! <a routerLink="/">Go to
    homepage</a>
  </alert>
</form>
