<button class="btn btn-primary mt-2 mb-2" routerLink="/catalog">Back</button>
<div class="card mt-2">
  <div class="container-fluid">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1"><img src="{{product.imageUrl}}" /></div>
        </div>
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{product.name}}</h3>
        <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
        <h4 *ngIf="!product.salePrice" class="price">current price: <span>{{product.price}} €</span></h4>
        <h4 *ngIf="product.salePrice" class="price"><del>original price: {{product.price}} €</del></h4>
        <h4 *ngIf="product.salePrice" class="price">special price: <span>{{product.salePrice}} €</span></h4>
        <h5 class="colors">colors:
          <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
          <span class="color green"></span>
          <span class="color blue"></span>
        </h5>
        <div class="action">
          <button class="add-to-cart btn btn-default" type="button">add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

