<app-home-carousel></app-home-carousel>
<div class="row spaced-top">
  <div class="col-md-12 d-flex justify-content-center mt-3">
    <h3>Our Service</h3>
  </div>
</div>
<app-home-our-service></app-home-our-service>
